# Projet d'algorithme de trading

In [105]:
%load_ext autoreload
%load_ext sql
%autoreload 2

# importation des librairies
import requests
import pandas as pd
from datetime import date, timedelta
import sqlite3

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [51]:
#url = 'https://rest.coinapi.io/v1/assets'
url = 'https://rest.coinapi.io/v1/exchangerate/BTC/USD/history?period_id=1MIN&time_start=2016-01-01T00:00:00&time_end=2016-02-01T00:00:00'
headers = {'X-CoinAPI-Key' : 'D867C7FC-B41F-45C8-B2FE-D92EF8EF3F33'}
response = requests.get(url, headers=headers)

In [58]:

asset = "USD/BTC"
start_time = (date.today() - timedelta(5)).strftime("%Y-%m-%d")
end_time = date.today().strftime("%Y-%m-%d")
        
        # Create URL


#url = 'https://rest.coinapi.io/v1/exchangerate/BTC/USD/history?period_id=1MIN&time_start=2023-03-05T00:00:00&time_end=2023-04-24T00:00:00'

url = ('https://rest.coinapi.io/v1/'
        f'exchangerate/{asset}/'
        'history?period_id=1DAY&'
        f'time_start={start_time}T00:00:00&'
        f'time_end={end_time}T00:00:00')

headers = {'X-CoinAPI-Key' : 'D867C7FC-B41F-45C8-B2FE-D92EF8EF3F33'}
print(headers)
        # send call to  api
response1 = requests.get(url, headers=headers)
        # extract json data
json_data = response1.json()
        # read data into dataframe
df = pd.DataFrame(json_data)
        #select important columns
columns = ["time_close", "rate_open", "rate_high", "rate_low", "rate_close"]
df = df[columns]
        #create new index convert it into "DatetimeIndex" and named "date" 
df = df.set_index("time_close")
df.index = pd.to_datetime(df.index)
df.index.name = "date"
        
        # remove "_rate" into columns
#df.columns = [c.split("_")[-1] for c in df.columns]

{'X-CoinAPI-Key': 'D867C7FC-B41F-45C8-B2FE-D92EF8EF3F33'}

In [59]:
response1.status_code

200

In [50]:
f'time_start={start_time}T00:00:00&'

'time_start=2023-04-17T00:00:00&'

In [46]:
start_time

'2023-04-17'

In [47]:
end_time

'2023-04-27'

In [60]:
df

                           rate_open  rate_high  rate_low  rate_close
date
2023-04-22 23:59:00+00:00   0.000037   0.000037  0.000036    0.000036
2023-04-23 23:59:00+00:00   0.000036   0.000037  0.000036    0.000036
2023-04-24 23:59:00+00:00   0.000036   0.000037  0.000036    0.000036
2023-04-25 23:59:00+00:00   0.000036   0.000037  0.000035    0.000035
2023-04-26 23:59:00+00:00   0.000035   0.000037  0.000033    0.000035

In [82]:

from config import settings 
import requests
import pandas as pd
from datetime import date, timedelta
import sqlite3



class COINAPI:
    def __init__(self, api_key=settings.coin_api_key):
        self.__api_key = api_key
    def get_daily(self, asset, output_size=10):
        """ get daily time series from Coinapi

        Parameters
        ---------
        asset : str
            the ticker symbol of the asset
        output_size : int
            Number of the observations to retrieve
            maximun is 100
            
        returns
        -------
        pd.DataFrame
         columns are 'open', 'high', 'low', 'close'.
         all numeric
        """
        start_time = (date.today() - timedelta(output_size)).strftime("%Y-%m-%d")
        end_time = date.today().strftime("%Y-%m-%d")
        
        # Create URl
        url = ('https://rest.coinapi.io/v1/'
                f'exchangerate/{asset}/'
                'history?period_id=1DAY&'
                f'time_start={start_time}T00:00:00&'
                f'time_end={end_time}T00:00:00')
        
        headers = {'X-CoinAPI-Key' : f'{self.__api_key}'}
        
        # send call to  api
        response = requests.get(url, headers=headers)
        # extract json data
        json_data = response.json()
        # read data into dataframe
        df = pd.DataFrame(json_data)
        #select important columns
        columns = ["time_close", "rate_open", "rate_high", "rate_low", "rate_close"]
        df = df[columns]
        #create new index convert it into "DatetimeIndex" and named "date" 
        df = df.set_index("time_close")
        df.index = pd.to_datetime(df.index)
        df.index.name = "date"
        
        # remove "_rate" into columns
        df.columns = [c.split("_")[-1] for c in df.columns]

        #return DataFrme   
        return df

In [83]:
btc_usd = COINAPI()

In [87]:
btc_usd_data = btc_usd.get_daily(asset="BTC/USD", output_size=50)

In [88]:
btc_usd_data

,open,high,low,close
date,,,,
2023-03-09 23:59:00+00:00,21701.967560,21811.792399,20119.121002,20363.264056
2023-03-10 23:59:00+00:00,20362.344257,20362.344257,19595.033492,20231.277547
2023-03-11 23:59:00+00:00,20225.193289,20865.139865,19883.953577,20618.016385
2023-03-12 23:59:00+00:00,20621.168421,22209.315709,20466.218353,22171.980928
2023-03-13 23:59:00+00:00,22166.416360,24636.589496,21923.220403,24207.797181
2023-03-14 23:59:00+00:00,24215.760023,26495.248109,24111.172075,24764.286615
2023-03-15 23:59:00+00:00,24755.865640,25271.346521,23989.526827,24380.877973
2023-03-16 23:59:00+00:00,24377.691842,25203.447568,24220.303716,25056.279526
2023-03-17 23:59:00+00:00,25051.460791,27819.892635,24949.436515,27451.948658
2023-03-18 23:59:00+00:00,27453.813852,27731.071842,26759.698198,26972.668012
2023-03-19 23:59:00+00:00,26976.244381,28439.388645,26904.818981,28031.996401
2023-03-20 23:59:00+00:00,28056.668465,28553.038053,27232.211350,27799.346111
2023-03-21 23:59:00+00:00,27793.701304,28463.371014,27432.597286,28188.607129
2023-03-22 23:59:00+00:00,28170.268866,28809.588584,26755.815642,27324.482630
2023-03-23 23:59:00+00:00,27313.571856,28749.252302,27185.177728,28343.973912
2023-03-24 23:59:00+00:00,28338.602806,28402.218720,27052.926531,27494.040115
2023-03-25 23:59:00+00:00,27488.642407,27779.480752,27211.325869,27494.461574
2023-03-26 23:59:00+00:00,27488.893053,28176.615940,27444.352125,27992.815496
2023-03-27 23:59:00+00:00,27993.325455,28042.576561,26597.852756,27141.269073
2023-03-28 23:59:00+00:00,27136.113311,27467.316279,26670.410727,27264.886939
2023-03-29 23:59:00+00:00,27268.002189,28615.935928,27260.574264,28352.524126
2023-03-30 23:59:00+00:00,28352.861725,29165.198483,27745.945372,28034.002224
2023-03-31 23:59:00+00:00,28031.237755,28652.938949,27594.345347,28478.007770
2023-04-01 23:59:00+00:00,28472.586574,28808.299609,28294.795966,28461.464564
2023-04-02 23:59:00+00:00,28464.065999,28537.690948,27893.646088,28206.257862
2023-04-03 23:59:00+00:00,28182.123153,28486.497091,27297.932316,27788.792669
2023-04-04 23:59:00+00:00,27805.574759,28423.467611,27678.688075,28174.044959
2023-04-05 23:59:00+00:00,28175.267389,28721.794773,27864.130800,28178.297082
2023-04-06 23:59:00+00:00,28174.502426,28191.303261,27769.240612,28040.808791
2023-04-07 23:59:00+00:00,28045.973248,28110.877249,27797.113104,27922.829986
2023-04-08 23:59:00+00:00,27923.143068,28165.425054,27880.177617,27952.052103
2023-04-09 23:59:00+00:00,27952.201779,28529.215590,27829.707149,28340.236917
2023-04-10 23:59:00+00:00,28339.647644,29768.143136,28188.770572,29655.617242
2023-04-11 23:59:00+00:00,29654.152382,30492.511975,29607.536878,30235.410079
2023-04-12 23:59:00+00:00,30229.259418,30453.508688,29722.511342,29896.974711
2023-04-13 23:59:00+00:00,29905.773729,30545.873943,29882.739878,30395.931435
2023-04-14 23:59:00+00:00,30406.026002,30997.455319,30050.014542,30492.336911
2023-04-15 23:59:00+00:00,30493.956698,30599.363728,30232.619593,30321.238393
2023-04-16 23:59:00+00:00,30319.654755,30556.838882,30157.445718,30317.069640
2023-04-17 23:59:00+00:00,30325.266810,30327.146722,29282.919848,29446.297581
2023-04-18 23:59:00+00:00,29445.570848,30462.173965,29164.205617,30393.921130
2023-04-19 23:59:00+00:00,30390.862393,30419.119870,28668.327152,28817.694425
2023-04-20 23:59:00+00:00,28811.257540,29067.174677,28027.625396,28242.061593
2023-04-21 23:59:00+00:00,28245.409485,28363.531320,27173.307261,27272.304152
2023-04-22 23:59:00+00:00,27259.882794,27877.423976,27163.690523,27816.443078
2023-04-23 23:59:00+00:00,27819.307674,27819.307674,27355.744882,27590.887498
2023-04-24 23:59:00+00:00,27590.774343,27975.581239,27035.677423,27522.834023
2023-04-25 23:59:00+00:00,27512.365617,28369.097328,27207.370666,28304.723012
2023-04-26 23:59:00+00:00,28302.452602,29985.672635,27297.183153,28420.718708
2023-04-27 23:59:00+00:00,28426.786437,29870.804917,28411.750637,29483.053142

In [89]:
class SQLRepository:
    def __init__(self, connection) :
        self.connection = connection
        
    def insert_table(self, table_name, records, if_exists="fail"):
        """ insert dataframe into sqlite database as table 

        Parameters
        ----------
        table_name: str
        records: pd.DataFrame
        if_exists: str, optional
        
            - 'fail': Raise a ValueError.
            - 'replace': Drop the table before inserting new values.
            - 'append': Insert new values to the existing table.

            Dafault: 'fail'
        Returns
        -------
        dict
            - 'transaction_successful', followed by bool
            - 'records_inserted', followed by int
        """
        
        n_inserted = records.to_sql(name=table_name, con=self.connection, if_exists=if_exists)
        return {"transaction_successful": True, "records_inserted": n_inserted}
    
    def read_table(self, table_name, limit=None):
        """read table from sqlite database

        Parameters
        ----------
        table_name: str
        limit: int, None, optional
            Number of most recent records to retrieve. If `None`, all
            records are retrieved. By default, `None`.

        Returns
        -------
        pd.dataFrame
            Index is DatetimeIndex "date". Columns are 'open', 'high',
            'low', 'close', and 'volume'. All columns are numeric.
        """
        pass

In [90]:
conn = sqlite3.connect('stocks')

In [91]:
conn

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
Traceback (most recent call last):
  File "C:\Users\yoda\anaconda3\lib\site-packages\sql\connection.py", line 45, in __init__
    engine = sqlalchemy.create_engine(
  File "<string>", line 2, in create_engine
  File "C:\Users\yoda\anaconda3\lib\site-packages\sqlalchemy\util\deprecations.py", line 298, in warned
  File "C:\Users\yoda\anaconda3\lib\site-packages\sqlalchemy\engine\create.py", line 522, in create_engine
    :ref:`sql_caching`
  File "C:\Users\yoda\anaconda3\lib\site-packages\sqlalchemy\engine\url.py", line 754, in _get_entrypoint
    cls = registry.load(name)
  File "C:\Users\yoda\anaconda3\lib\site-packages\sqlalchemy\util\langhelpers.py", line 358, in load
    loader = self.auto_fn(name)
  File "C:\Users\yoda\anaconda3\lib\site-packages\sqlalchemy\dialects\__init__.py", line 47, in _auto_fn
    module = __import__("sqlalchemy.dialects.%s" % (dialect,)).dialects
  File "C:\Users\yoda\anaconda3\lib\site-packages\sqlalchemy\dialects\sqlite\__init__.py", line 10, in <module>
    from . import aiosqlite  # noqa
  File "C:\Users\yoda\anaconda3\lib\site-packages\sqlalchemy\dialects\sqlite\aiosqlite.py", line 53, in <module>
    from .base import SQLiteExecutionContext
  File "C:\Users\yoda\anaconda3\lib\site-packages\sqlalchemy\dialects\sqlite\base.py", line 1708, in <module>
    class SQLiteTypeCompiler(compiler.GenericTypeCompiler):
  File "C:\Users\yoda\anaconda3\lib\site-packages\sqlalchemy\util\langhelpers.py", line 1753, in __init__
    global _creation_order
NameError: name 'EnsureKWArgType' is not defined

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
Traceback (most recent call last):
  File "C:\Users\yoda\anaconda3\lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "C:\Users\yoda\anaconda3\lib\site-packages\sql\connection.py", line 70, in set
    cls.current = existing or Connection(descriptor, connect_args, creator)
  File "C:\Users\yoda\anaconda3\lib\site-packages\sql\connection.py", line 45, in __init__
    engine = sqlalchemy.create_engine(
  File "<string>", line 2, in create_engine
  File "C:\Users\yoda\anaconda3\lib\site-packages\sqlalchemy\util\deprecations.py", line 298, in warned
  File "C:\Users\yoda\anaconda3\lib\site-packages\sqlalchemy\engine\create.py", line 522, in create_engine
    :ref:`sql_caching`
  File "C:\Users\yoda\anaconda3\lib\site-packages\sqlalchemy\engine\url.py", line 754, in _get_entrypoint
    cls = registry.load(name)
  File "C:\Users\yoda\anaconda3\lib\site-packages\sqlalchemy\util\langhelpers.py", line 358, in load
    loader = self.auto_fn(name)
  File "C:\Users\yoda\anaconda3\lib\site-packages\sqlalchemy\dialects\__init__.py", line 47, in _auto_fn
    module = __import__("sqlalchemy.dialects.%s" % (dialect,)).dialects
  File "C:\Users\yoda\anaconda3\lib\site-packages\sqlalchemy\dialects\sqlite\__init__.py", line 10, in <module>
    from . import aiosqlite  # noqa
  File "C:\Users\yoda\anaconda3\lib\site-packages\sqlalchemy\dialects\sqlite\aiosqlite.py", line 53, in <module>
    from .base import SQLiteExecutionContext
  File "C:\Users\yoda\anaconda3\lib\site-packages\sqlalchemy\dialects\sqlite\base.py", line 1708, in <module>
    class SQLiteTypeCompiler(compiler.GenericTypeCompiler):
  File "C:\Users\yoda\anaconda3\lib\site-packages\sqlalchemy\util\langhelpers.py", line 1753, in __init__
    global _creation_order
NameError: name 'EnsureKWArgType' is not defined

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [96]:
btc_usd_data.to_sql('btc_usd', conn, if_exists='replace')

In [108]:
%load_ext sql
%sql sqlite:////C:\Users\yoda\BitcoinAnalyseur/stocks

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
Traceback (most recent call last):
  File "C:\Users\yoda\anaconda3\lib\site-packages\sql\connection.py", line 45, in __init__
    engine = sqlalchemy.create_engine(
  File "<string>", line 2, in create_engine
  File "C:\Users\yoda\anaconda3\lib\site-packages\sqlalchemy\util\deprecations.py", line 298, in warned
  File "C:\Users\yoda\anaconda3\lib\site-packages\sqlalchemy\engine\create.py", line 522, in create_engine
    :ref:`sql_caching`
  File "C:\Users\yoda\anaconda3\lib\site-packages\sqlalchemy\engine\url.py", line 754, in _get_entrypoint
    cls = registry.load(name)
  File "C:\Users\yoda\anaconda3\lib\site-packages\sqlalchemy\util\langhelpers.py", line 358, in load
    loader = self.auto_fn(name)
  File "C:\Users\yoda\anaconda3\lib\site-packages\sqlalchemy\dialects\__init__.py", line 47, in _auto_fn
    module = __import__("sqlalchemy.dialects.%s" % (dialect,)).dialects
  File "C:\Users\yoda\anaconda3\lib\site-packages\sqlalchemy\dialects\sqlite\__init__.py", line 10, in <module>
    from . import aiosqlite  # noqa
  File "C:\Users\yoda\anaconda3\lib\site-packages\sqlalchemy\dialects\sqlite\aiosqlite.py", line 53, in <module>
    from .base import SQLiteExecutionContext
  File "C:\Users\yoda\anaconda3\lib\site-packages\sqlalchemy\dialects\sqlite\base.py", line 1708, in <module>
    class SQLiteTypeCompiler(compiler.GenericTypeCompiler):
  File "C:\Users\yoda\anaconda3\lib\site-packages\sqlalchemy\util\langhelpers.py", line 1753, in __init__
    global _creation_order
NameError: name 'EnsureKWArgType' is not defined

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])
Traceback (most recent call last):
  File "C:\Users\yoda\anaconda3\lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
  File "C:\Users\yoda\anaconda3\lib\site-packages\sql\connection.py", line 70, in set
    cls.current = existing or Connection(descriptor, connect_args, creator)
  File "C:\Users\yoda\anaconda3\lib\site-packages\sql\connection.py", line 45, in __init__
    engine = sqlalchemy.create_engine(
  File "<string>", line 2, in create_engine
  File "C:\Users\yoda\anaconda3\lib\site-packages\sqlalchemy\util\deprecations.py", line 298, in warned
  File "C:\Users\yoda\anaconda3\lib\site-packages\sqlalchemy\engine\create.py", line 522, in create_engine
    :ref:`sql_caching`
  File "C:\Users\yoda\anaconda3\lib\site-packages\sqlalchemy\engine\url.py", line 754, in _get_entrypoint
    cls = registry.load(name)
  File "C:\Users\yoda\anaconda3\lib\site-packages\sqlalchemy\util\langhelpers.py", line 358, in load
    loader = self.auto_fn(name)
  File "C:\Users\yoda\anaconda3\lib\site-packages\sqlalchemy\dialects\__init__.py", line 47, in _auto_fn
    module = __import__("sqlalchemy.dialects.%s" % (dialect,)).dialects
  File "C:\Users\yoda\anaconda3\lib\site-packages\sqlalchemy\dialects\sqlite\__init__.py", line 10, in <module>
    from . import aiosqlite  # noqa
  File "C:\Users\yoda\anaconda3\lib\site-packages\sqlalchemy\dialects\sqlite\aiosqlite.py", line 53, in <module>
    from .base import SQLiteExecutionContext
  File "C:\Users\yoda\anaconda3\lib\site-packages\sqlalchemy\dialects\sqlite\base.py", line 1708, in <module>
    class SQLiteTypeCompiler(compiler.GenericTypeCompiler):
  File "C:\Users\yoda\anaconda3\lib\site-packages\sqlalchemy\util\langhelpers.py", line 1753, in __init__
    global _creation_order
NameError: name 'EnsureKWArgType' is not defined

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [ ]:
C:\Users\yoda\BitcoinAnalyseur